{{ partial "header" . }}

<main>
    <h2>{{ .Title }}</h2>
  {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
    {{ if eq "tags" $taxonomyname }}
    {{ range $key, $value := $taxonomy }}
      {{ $term := $key | urlize }}
      {{- with $.Site.GetPage $term }}
        <a href="{{ .Permalink }}">PI: {{ .Title }}</a>
      {{ end -}}
        <ul>
            {{ range $value.Pages }}
            {{ partial "list-item" . }}
        {{ end }}
        </ul>
      {{ end }}
    {{ end }}
  {{ end }}



</main>

{{ partial "paginator" . }}
{{ partial "footer" . }}
